
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CSS", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MEGACAR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @{
                        if (Convert.ToBoolean(this.Session["Logueado"]) == true)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Clientes</a>
                                <div class="dropdown-menu" style="background-color:black">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Registro Clientes", "RegistroCliente", "Cliente")</li>
                                        <li>@Html.ActionLink("Listado Clientes", "MostrarCliente", "Cliente")</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Vehiculos</a>
                                <div class="dropdown-menu" style="background-color:black">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Registro Vehiculos", "RegistraVehiculo", "Vehiculo")</li>
                                        <li>@Html.ActionLink("Listado Vehiculos", "MostrarVevhiculos", "Vehiculo")</li>
                                        <li>@Html.ActionLink("Registro de Tipos", "RegistrarTipo", "TipoVehiculo")</li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Pais</a>
                                <div class="dropdown-menu" style="background-color:black">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Registro Pais", "RegistrarPais", "Pais")</li>
                                        <li>@Html.ActionLink("Listado de Pais", "MostrarListaPaises", "Pais")</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Reportes</a>
                                <div class="dropdown-menu" style="background-color:black">
                                    <ul class="nav navbar-nav">
                                        <li>@Html.ActionLink("Reportes Clientes", "RegistraVehiculo", "Vehiculo")</li>
                                        <li>@Html.ActionLink("Reportes Vehiculo", "RegistraVehiculo", "Vehiculo")</li>
                                        <li>@Html.ActionLink("Otros", "RegistraVehiculo", "Vehiculo")</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mantenimientos</a>
                                <div class="dropdown-menu" style="background-color:black">
                                    <ul class="nav navbar-nav">

                                        <li>@Html.ActionLink("Registrar Fabricante", "ListarFabricanteVehiculo", "Fabricante")</li>
                                        <li>@Html.ActionLink("Registrar Modelo ", "ModeloVehiculo", "Modelos")</li>
                                        <li>@Html.ActionLink("Registrar Marca ", "ListarMarcaVehiculo", "MarcaVehiculo")</li>
                                        <li>@Html.ActionLink("Registrar Servicio ", "Servicio_Producto", "Servicios")</li>
                                        <li>@Html.ActionLink("Registrar Parametro", "Parametros", "Parametros")</li>
                                        <li>@Html.ActionLink("Caja ", "CajaVista", "Caja")</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item text-right">
                                <a class="nav-link text-right" href="/Home/Logout">
                                    <button type="button" id="signout" class="btn btn-danger btn-sm text-right text-align-right">
                                        Cerrar Sesion
                                    </button>
                                </a>
                            </li>



                        }
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Validaciones");
    @RenderSection("scripts", required: false)
</body>
</html>
