
@{
    ViewBag.Title = "Modificar Cliente";
}

<div class="jumbotron">
    <center>
        <h1>@ViewBag.Title</h1>
    </center>
</div>
<div class="container">
    <center>
        <form id="frmRegistraCliente" action="ModificarCliente" method="post">
            @{
                foreach (ProyectoProgramacion.Modelo.sp_RetornaCliente_Result item in
                    this.ViewBag.ListaCliente)
                {
                    <div class="form-group">
                        <label class="control-label">Nombre del Cliente:</label>
                        <input type="text" name="C_NOMBRE_CLIENTE" id="C_NOMBRE_CLIENTE" placeholder="Escriba su nombre" value="@item.C_NOMBRE_CLIENTE" class="form-control"
                               title="Ingreso el nombre del cliente" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Apellido 1:</label>
                        <input type="text" name="C_APELLIDO1" id="C_APELLIDO1" placeholder="Escriba su primer apellido" value="@item.C_APELLIDO1" class="form-control"
                               title="Ingreso su primer apellido" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Apellido 2:</label>
                        <input type="text" name="C_APELLIDO2" id="C_APELLIDO2" placeholder="Escriba su segundo apellido" value="@item.C_APELLIDO2" class="form-control"
                               title="Ingreso su segundo apellido" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cedula:</label>
                        <input type="text" name="C_CEDULA" id="C_CEDULA" placeholder="Cedula" value="@item.C_CEDULA" class="form-control"
                               title="Ingrese el numero de cedula" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Correo Electronico:</label>
                        <input type="text" name="C_CORREO" id="C_CORREO" placeholder="Escriba su correo electronico" value="@item.C_CORREO" class="form-control"
                               title="Ingrese su correo electronico" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Direccion:</label>
                        <input type="text" name="C_DIRECCION" id="C_DIRECCION" placeholder="Escriba su direccion" value="@item.C_DIRECCION" class="form-control"
                               title="Ingrese su direccion" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Telefono:</label>
                        <input type="text" name="C_TELEFONO" id="C_TELEFONO" placeholder="Escriba su telefono" value="@item.C_TELEFONO" class="form-control"
                               title="Ingrese su telefono" data-toggle="tooltip" />
                    </div>

                    <div class="form-group">
                        <label>Provincia:</label>
                        <select name="C_FK_PROVINCIA" id="C_FK_PROVINCIA" value="@item.C_FK_PROVINCIA" class="form-control">
                            <option value="">Seleccione una Provincia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Canton:</label>
                        <select name="C_FK_CANTON" id="C_FK_CANTON" value="@item.C_FK_CANTON" class="form-control">
                            <option value="">Seleccione un Canton</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Distrito:</label>
                        <select name="C_FK_DISTRITO" id="C_FK_DISTRITO" value="@item.C_FK_DISTRITO" class="form-control">
                            <option value="">Seleccione un Distrito</option>
                        </select>
                    </div>

                    <div class="bottom">
                        <input type="submit" name="btnRegistrar" id="btnRegistrar" value="Registrar" class="btn btn-success" />
                        <input type="reset" name="btnLimpiar" id="btnLimpiar" value="Limpiar" class="btn btn-primary" />
                    </div>

                }
            }
            <div class="bottom">
                <input type="submit" name="btnModificar" id="btnModificar" value="Modificar" class="btn btn-success" />
                <input type="reset" name="btnLimpiar" id="btnLimpiar" value="Limpiar" class="btn btn-primary" />
            </div>

        </form>
    </center>
</div>

